@media only screen and (max-width: 600px) {
	.navbar-toggler {
		background: #3c9d26;
    padding: 4px;
	}
	.navbar-collapse.show {
		padding: 30px 0;
	}
	.navbar .nav-item {
		padding-bottom: 15px;
	}
	.banner {
		padding: 70px 0;
		background-size: cover;
	}
	.banner-text h1 {
	    font-size: 34px;
	}
	.baner-image {
		margin-top: 50px;
		padding: 0px;
	}
	section {
    	padding: 30px 0;
	}
	img.title-img {
    	width: 50%;
	}
	.section-title h2 {
		font-size: 27px;
	}
	.earn-section {
		text-align: center;
	}
	.earn-img {
		margin-top: 20%;
    	width: 76%;
	}
	.works-list ul li {
		margin: 30px 0px 30px;
	}
	.works-list ul li:before {
		content: '';
	}
	.works-list ul li h6 {
		font-size: 18px;
	}
	.pickup {
		text-align: center;
	}
	.pickup-img {
		margin-bottom: 30px;
		order: 2;
		position: relative;
	}
	.testimonial {
		padding-right: 0px;
	}
	.testimonial-right {
		padding-top: 50px;
		padding-left: 0px;
		border-left: 0px;
		text-align: center;
	}
	.testimonial-right .section-title {
		text-align: center;
	}
	.top-footer {
		padding: 30px 20px;
	}
	.image-box {
    	margin: 15px 10px;
	}
	.order-box {
		display: inline-block;
	}
	.order-details {
		text-align: center;
	}
	ul.nav-pills {
		overflow-x: auto;
	    overflow-y: hidden;
	    display: block;
	}
	/*form #decrease {
		border-radius: 0px;
		margin-right: 0px;
	}
	form #increase {
		border-radius: 0px;
		margin-left: 0px;
	}
	input#number, input#number1 {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-top: 0px solid #ddd;
		border-bottom: 0px solid #ddd;
	}
	.value-button {
		padding: 3px 0;
		height: 30px;
	}*/
}
